.traineeList {
  margin-top: 15px;
}

.traineeList .traineeContainer {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.traineeList .trainee {
  display: block;
  width: 65px;
  height: 30px;

  line-height: 30px;

  background-color: #eeeeee;
  border: none;
  text-align: center;

  margin: 10px;
  font-size: 12px;
  outline: none;
}

.traineeList input {
  width: 75px;
  height: 30px;
  border: solid 1px rgb(94, 94, 226);
  border-radius: 3px;
}

.traineeList input:focus {
  width: 75px;
  height: 30px;
  border: solid 1px rgb(94, 94, 226);
  border-radius: 3px;
  outline: none;
}

