.group {
  width: 700px;
  height: 80px;
  
  margin-top: 15px;
}

.group span {
  background-color: #393e46;
  height: 30px;
  width: 700px;
  display: block;
  line-height: 30px;
  text-align: center;
}

.group .groupContent {
  width: 698px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: solid 1px gray;
}

.group .groupContent p {
  display: block;
  width: 65px;
  height: 30px;

  line-height: 30px;

  background-color: #eeeeee;
  border: none;
  text-align: center;

  margin: 10px;
  font-size: 12px;
}